.inspiration__categories {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.btn.cat__btn {
    text-transform: capitalize;
    transition: var(--transition);
}

.btn.cat__btn:hover {
    transform: translateY(0);
}

.inspiration__outfits {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: start;
}

.card.inspiration__outfit {
    animation: animateOutfit 800ms ease-in forwards;
}

@keyframes animateOutfit {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inspiration__outfit-image {
    width: 100%;
    height: 20rem;
    min-height: 8rem;
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.inspiration__outfit-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    object-position: top center;
}

.inspiration__outfit-image:hover img {
    transform: scale(1.05);
}

.inspiration__outfit p {
    margin: 0.5rem 0 2rem;
}

.inspiration__outfit-look {
    display: flex;
    gap: 1rem;
}

.inspiration__outfit:hover .btn.sm {
    border-color: var(--color-white);
}

.inspiration__outfit:hover .btn.sm.primary {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* MEDIA QUERY (tablets)*/

@media screen and (max-width: 1024px){
    .inspiration__outfits {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

/* MEDIA QUERY (phones)*/

@media screen and (max-width: 600px){
    .inspiration__categories {
        gap: 0.6rem;
    }

    .btn.cat__btn {
        padding: 0.7rem 0.8rem;
    }

    .inspiration__outfits {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}